@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
  
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

.huge-padding {
  padding: 400px 0px;
}

.gradient {

  /* can be treated like a fallback */
  background-color: black;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(white, black);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: black;
  background: linear-gradient(white, black);

  margin: 0px;

}

.large-block {
  height: 5000px;
}

.small-block {
  height: 800px;
  background-color: black;
  background: black;
}
