<div class="modal is-active">
<!-- <div class="modal"> -->
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-content">
            <header class="modal-card-head">
                <p class="modal-card-title is-size-2"></p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <p class="is-size-3">Are you <b>technically skilled</b> enough to read this material?</p>
              </section>
              <footer class="modal-card-foot">
                <button class="button">YES</button>
                <button class="button">NO</button>
                <button class="button is-success"><b>I do not police my own thoughts</b></button>
              </footer>
        </div>
        
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>