<div class="modal is-active">
<!-- <div class="modal"> -->
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-content">
            <header class="modal-card-head">
                <p class="modal-card-title is-size-2"></p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <p class="is-size-3 p-6">Are you <b>technically skilled</b> enough to read this material?</p>
              </section>
              <footer class="modal-card-foot is-flex-wrap-wrap">
                <div class="p-2"><button class="button is-size-4">YES</button></div>
                <div class="p-2"><button class="button is-size-4">NO</button></div>
                <div class="p-2"><button class="button is-success is-size-4" style="white-space: normal;"><b>I do not police my own thoughts</b></button></div>
              </footer>
        </div>
        
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>