{{ define "main" }}

<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column has-text-centered-mobile">
          <p class="title is-spaced ">
            <i class="fa fa-map-pin px-5" aria-hidden="true"></i> Where are we, right now?
          <!-- </p>
          <p class="subtitle">

          </p> -->
        </div>
      </div>

    </div>

  </div>
</section>

<section class="py-6">
  <div class="container">

    <div class="columns is-multiline is-touch has-text-centered is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-1">Berlin to Los Angeles</p>
              </div>
            </div>
              <div class="content is-size-5">
              Training a <b>AI Natural Language model</b> emits the same amount of carbon dioxide as flying from Berlin to Los Angeles, for an entire jumbo jet.
              <br>
              <br><a href="https://arstechnica.com/science/2020/12/why-ai-is-so-power-hungry/" target="_blank" rel="noopener">Source</a>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="columns is-multiline is-touch has-text-centered is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-1">One Bitcoin or one Kenyan?</p>
              </div>
            </div>
            <div class="content is-size-5">
              <b>One Bitcoin transaction</b> emits 370.5 kilograms of carbon dioxide equivalent, which is 20% more than the average citizen of Kenya, per year.
              <br>
              <br><a href="https://www.spectrum-markets.com/en/knowledge-centre/the-green-bitcoin-co2-offsetting-the-largest-cryptocurrency-in-the-world " target="_blank" rel="noopener">Source</a>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="columns is-multiline is-touch has-text-centered is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-1">Streaming or Spain?</p>
              </div>
            </div>
            <div class="content  is-size-5">
              <b>Streaming videos online</b> requires electricity. The equivalent carbon dioxide emissions amount to as much as Spain emitted in 2019.
              <br>
              <br><a href="https://gizmodo.com/the-planet-needs-a-new-internet-1837101745" target="_blank" rel="noopener">Source</a>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="columns is-multiline is-touch has-text-centered is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-1">Chips or Berliners?</p>
              </div>
            </div>
            <div class="content is-size-5">
              Taiwan's leading <b>microchip manufacturing plant</b>, TSMC, uses up as much water, per year, as half of the city of Berlin.
              <br>
              <br><a href="
              https://www.statista.com/statistics/1313040/tsmc-water-consumption-by-user/ " target="_blank" rel="noopener">Source</a>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</section>

<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column has-text-centered-mobile">
          <p class="title is-spaced ">
            <i class="fa fa-map-signs px-5" aria-hidden="true"></i> Where are we heading?
          <!-- </p>
          <p class="subtitle">

          </p> -->
        </div>

      </div>

    </div>

  </div>
</section>

<section class="py-6">
  <div class="container">

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column is-half">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">12 May 2022</strong>
                <br><br>
                <strong class="is-size-4">Dehydrated birds fall from the sky in India amid record heatwave</strong>
                <br><br>
                Rescuers in Gujarat state are picking up dozens of exhausted birds dropping daily as scorching heatwave dries out water sources.
                </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <p> Reuters | 
                  <a href="https://www.aljazeera.com/news/2022/5/12/dehydrated-birds-falling-from-sky-in-india-amid-record-heatwave" target="_blank" rel="noopener">Source</a></p>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column is-half">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">20 July 2022</b></strong>
                <br><br>
                <strong class="is-size-4">UK heatwave sparks cooling system meltdown in datacenters</strong>
                <br><br>
                The extreme heat experienced by the UK this week had a detrimental impact on the cooling systems of Google and Oracle's London datacenters.
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <p>ComputerWeekly | 
                  <a href="https://www.computerweekly.com/news/252522933/UK-heatwave-sparks-cooling-system-meltdown-in-Googles-and-Oracles-London-datacentre-regions" target="_blank" rel="noopener">Source</a></p>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column is-half">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">12 August 2023</strong>
                <br><br>
                <strong class="is-size-4">Half of China cut off from electricity due to hydropower failures</strong>
                <br><br>
                Water shortages caused hydroelectric plants to go offline and left almost a billion people without electricity.   
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <p>CGTN</p>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column is-half">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">23 June 2027</strong>
                <br><br>
                <strong class="is-size-4">Surfing the net: flooded US datacentre hosts surfer showdown</strong>
                <br><br>
                Amid the tragedy, the catastrophic rain that flooded Kuna datacentre in Idaho might have an unexpected upside. USA Surfing has chosen Kuna as the site for its next championship.   
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <p>Idaho Press</p>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column is-half">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">18 May 2030</strong>
                <br><br>
                <strong class="is-size-4">The end of Netflix and chill: cost of streaming rises to the average monthly salary</strong>
                <br><br>
                Netflix announced another rise in subscription fees due to increasing energy and infrastructure costs. As the fees approach the average monthly salary in Europe, people are turning to analog means of entertainment.
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <p>El País</p>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column is-half">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">7 January 2035</strong>
                <br><br>
                <strong class="is-size-4">Musk pulls the plug: tesla to disband operations by the end of the year</strong>
                <br><br>
                The 'end of lithium' has claimed its latest victim. Electric car manufacturer Tesla will shut its doors forever by the end of the year. Musk announced his retirement to Moon-X Enclave. 
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <p>The Guardian</p>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
    
    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column is-half">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">3 April 2036</strong>
                <br><br>
                <strong class="is-size-4">Germany offers 100 EUR per day for staying offline</strong>
                <br><br>
                In a desperate attempt to reduce energy use, the Federal Ministry for Environment and the Digital Ministry have piloted a scheme to reward Internet abstinence with up to 100 EUR per day.
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <p>Frankfurter Allgemeine Zeitung</p>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>


  </div>
</section>

<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column has-text-centered-mobile">
          <p class="title is-spaced ">
            <i class="fa fa-users px-5" aria-hidden="true"></i> What are the technologies of the future?
          <!-- </p>
          <p class="subtitle">

          </p> -->
        </div>
      </div>

    </div>

  </div>
</section>

<section class="py-6">
  <div class="container">

    <div class="columns is-multiline is-touch is-centered pb-1">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-question fa-2x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">What digital technologies are crucial for your everyday life?</strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-1">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-question fa-2x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">How do digital technologies shape and mediate your social relationships?</strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-question fa-2x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">Do you wish you could be digitally disconnected?</strong>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="columns is-multiline is-touch is-centered pb-6">
      <div class="column">
        <article class="media">
          <figure class="media-left">
            <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
          </figure>
          <div class="media-content">
            <div class="content is-size-5">
              <p>
                <strong class="is-size-4">In the case of a massive energy collapse</strong>
              </p>
              <p class="is-size-5">What technologies or devices would you be happy to see breakdown or disappear?</p>
              <p class="is-size-5">What would you do with your time if digital technologies weren’t available?</p>
              <p class="is-size-5">What technologies would you use to stay connected with others?</p>
              <p class="is-size-5">Who would you be without digital technologies and devices? </p>
              <p class="is-size-5">Where would you store your memories?</p>
              <p class="is-size-5">How would you stay in touch?</p>
              <p class="is-size-5">Would you be?</p>
            </div>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>

<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column has-text-centered-mobile">
          <p class="title is-spaced ">
            <i class="fa fa-power-off px-5 blink" aria-hidden="true"></i> Disconnect
          <!-- </p>
          <p class="subtitle">

          </p> -->
        </div>

      </div>

    </div>

  </div>
</section>

<seciton>
  <div class="content huge-padding">
    <div class="columns is-centered">
      <div class="column is-three-quarters-touch is-6-desktop">
          <div  class="image">
            <img src="{{ "images/disconnect.png" | relURL }}" alt="Nilu's drawing of inactivity">
          </div>
      </div>
    </div>
  
  <div class="columns is-centered is-size-3 has-text-centered">
    <div class="column is-three-quarters-touch is-6-desktop">
      <b>Connection to the land, to the environment.</b>
    </div>
  </div>

<div class="columns is-centered is-size-3 has-text-centered">
  <div class="column is-three-quarters-touch is-6-desktop">
    <b>Connection to others.</b>
  </div>
</div>

<div class="columns is-centered is-size-3 has-text-centered pb-6">
  <div class="column is-three-quarters-touch is-6-desktop">
    <b>Connection to yourself.</b>
  </div>
</div>
</div>

</seciton>

<section class="hero is-black is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column has-text-centered-mobile">
          <p class="title is-spaced ">
            <i class="fa fa-server px-5" aria-hidden="true"></i> The server will initiate the Protocol for Planned Disconnect
          <!-- </p>
          <p class="subtitle">

          </p> -->
        </div>

      </div>

    </div>

  </div>
</section>

<section>
  <div class="large-block gradient"></div>
  <div class="small-block"></div>
</section>


<!-- <div class="container is-size-5">

  <div class="section">
    <h2 class="subtitle">
      Resurse
    </h2>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-file-text has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            Achiziții publice pentru echipamente de supraveghere a spațiului public
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-map-marker has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="{{ "/harti/" | safeHTML }}">Hărți cu amplasamentul camerelor de supraveghere</a>
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-envelope has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            Fă o cerere pentru datele tale înregistrate de camere!
          </p>
        </div>
      </div>
    </div>



  </div>

  <div class="section">
    <h2 class="subtitle">
      Articole recente
    </h2>


    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="https://panorama.ro/autoritati-camere-supraveghere-cum-reactioneaza/" target="_blank"
              rel="noopener">Ochii ageri ai autorităților ne privesc prin camere de supraveghere. Cum reacționează când
              le ceri socoteală?</a>
          </p>
        </div>
      </div>
    </div>

    {{ range (where .Site.RegularPages "Section" "blog" | first 5) }}
    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </p>
        </div>
      </div>
    </div>
    {{ end }}



  </div>

</div>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column is-6-dekstop has-text-centered-mobile">
          <p class="title is-spaced ">
            Vrei să vezi exact răspunsurile pe care le-am primit de la autorități?
          </p>
          <p class="subtitle">
            Toate datele pe care le-am primit sunt informații de interes public și sunt obținute ca răspuns la cereri
            formulate în baza legii 544/2001.
          </p>
          <button class="button is-danger is-size-5">
            <span class="icon is-small"><i class="fa fa-download"></i></span>
            <span>Descarcă datele</span>
          </button>
        </div>
        <div class="column is-6-dekstop is-size-1 has-text-centered">
        </div>

      </div>

    </div>

  </div>
</section> -->

{{ end }} 